__pycache__/
.pytest_cache
bin/
include/
lib/
plsc.yml
mirrorcheck.yml
sbs.yml
share/
lib64
pyvenv.cfg
*.swp
config.d/
.idea/
*.mdb
*.pid
.venv
.env
tests/api/
.vscode/
.theia/
Pipfile
.python-version