---
ldap:
  src:
    uri: ldapi:///
    basedn: dc=services,dc=vnet
    binddn: cn=admin,dc=services,dc=vnet
    passwd: changethispassword
  dst:
    uri: ldapi:///
    basedn: dc=services,dc=vnet
    binddn: cn=admin,dc=services,dc=vnet
    passwd: changethispassword
sbs:
  src:
    host: https://sbs.scz-vm.net
    user: sysread
    passwd: changethispassword
pwd: changethispassword
uid: 1000
gid: 1000
